<div class="container-fluid">
  
    <h1>Angular Bootstrap Carousel Example - ItSolutionStuff.com</h1>
      
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let image of images">
        <div class="wrapper">
          <img [src]="image.src" alt="Random first slide" class="set-img">
        </div>
        <div class="carousel-caption">
          <h3 class="">{{ image.title }}</h3>
          <p class=""> {{ image.short }}</p>
        </div>
      </ng-template>
    </ngb-carousel>
        
    </div>