.image-container{
    /*  background-color: black; */
    display: flex;
    width: 10%;
    height: 10%;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
 }
 
 .text{

    width: 100%;
    height: 30vw;
    object-fit: fill;
 }
 
 .set-img{

     width: 100%;
     height: 30vw;
     object-fit: fill;
 }
 
 
 .set_color_arrows{
     background-color: black;
 }

 